$green: green;
$border-width: 1px;

* {
  box-sizing: border-box;
}

h1 {
  color: pink;
}

aside {
  float: left;
  border: $border-width solid green;
  width: 20%;
  padding: 20px;
}

#main {
  border: 1px solid red;
  @include linear-gradient(#1e5799, #2989d8);
  float: left;
  width: 80%;

  p {

    font-weight: bold;
  }
}

a.hot-link:hover {
  text-decoration: none;
  font-weight: bold;
}
