<!DOCTYPE html>
<html>
<head>
  <title>BananaStand</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style>

  </style>
</head>
<body>

<ul class="nav">
  <li><a href="#">Sign In</a></li>
</ul>

<aside class="news-sidebar">
  <p>There is awesome stuff happening here!</p>

  <a class="hot-link" href="#">Go to Awesomez</a>
</aside>
<section id="main">
  <%= yield %>
</section>
</body>
</html>
